%1of16,
.1of16 {
  width: 6.25%;
}
%2of16,
.2of16 {
  width: 12.5%;
}
%3of16,
.3of16 {
  width: 18.75%;
}
%4of16,
.4of16 {
  width: 25%;
}
%5of16,
.5of16 {
  width: 31.25%;
}
%6of16,
.6of16 {
  width: 37.5%;
}
%7of16,
.7of16 {
  width: 43.75%;
}
%8of16,
.8of16 {
  width: 50%;
}
%9of16,
.9of16 {
  width: 56.25%;
}
%10of16,
.10of16 {
  width: 62.5%;
}
%11of16,
.11of16 {
  width: 68.75%;
}
%12of16,
.12of16 {
  width: 75%;
}
%13of16,
.13of16 {
  width: 81.25%;
}
%14of16,
.14of16 {
  width: 87.5%;
}
%15of16,
.15of16 {
  width: 93.75%;
}
%16of16,
.16of16, {
  width: 100%;
}