%1of24,
.1of24 {
  width: 4.16666666667%;
}
%2of24,
.2of24 {
  width: 8.33333333333%;
}
%3of24,
.3of24 {
  width:12.5%;
}
%4of24,
.4of24 {
  width: 16.6666666667%;
}
%5of24,
.5of24 {
  width: 20.8333333333%;
}
%6of24,
.6of24 {
  width: 25%;
}
%7of24,
.7of24 {
  width: 29.1666666667%;
}
%8of24,
.8of24 {
  width: 33.3333333333%;
}
%9of24,
.9of24 {
  width: 37.5%;
}
%10of24,
.10of24 {
  width: 41.6666666667%;
}
%11of24,
.11of24 {
  width: 45.8333333333%;
}
%12of24,
.12of24 {
  width: 50%;
}
%13of24,
.13of24 {
  width: 54.1666666667%;
}
%14of24,
.14of24 {
  width: 58.3333333333%;
}
%15of24,
.15of24 {
  width: 62.5%;
}
%16of24,
.16of24 {
  width: 66.6666666667%;
}
%17of24,
.17of24 {
  width: 70.8333333333%;
}
%18of24,
.18of24 {
  width: 75%;
}
%19of24,
.19of24 {
  width: 79.1666666667%;
}
%20of24,
.20of24 {
  width: 83.3333333333%;
}
%21of24,
.21of24 {
  width: 87.5%;
}
%22of24,
.22of24 {
  width: 91.6666666667%;
}
%23of24,
.23of24 {
  width: 95.8333333333%;
}
%24of24,
.24of24 {
  width: 100%;
}